.img-medium {
  width: 75%; /* Занимает 75% от доступной ширины */
  max-width: 500px; /* Но не будет больше 500px в ширину на больших экранах */
  display: block; /* Убирает лишние отступы под изображением */
  margin: 0 auto; /* Центрирует изображение, если оно меньше контейнера */
}