:root {
    --vp-home-hero-name-color: #0fc800;
    --vp-home-hero-action-color: #0fc800;
    --vp-caption-text: grey;
    --vp-nav-logo-height: 40px; /* Установите желаемую высоту. Стандартно 24px */
}

.img-medium {
    width: 95%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.5em;
    color: var(--vp-caption-text);
}


