:root {
    --vp-home-hero-name-color: #0fc800;
    --vp-home-hero-action-color: #0fc800;
    --vp-caption-text: grey;
    --vp-nav-logo-height: 40px; /* Установите желаемую высоту. Стандартно 24px */

    --vp-c-brand-1: #42b883; /* Основной цвет (темный) */
    --vp-c-brand-2: #33a06f; /* Цвет при наведении */
    --vp-c-brand-3: #258a5c; /* Цвет при нажатии */

    /* Для светлой темы можно задать такие же цвета */
    --vp-c-brand-light: #42b883;
    --vp-c-brand-lighter: #42d392;
    --vp-c-brand-dark: #33a06f;
    --vp-c-brand-darker: #258a5c;
}

.img-medium {
    width: 95%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.5em;
    color: var(--vp-caption-text);
}


